/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER STYLING */

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-top: 0;
  margin-bottom: 20px;
}

#logo {
  width: 80px;
  height: fit-content;
  margin: 20px 0;
}

#menu {
  display: flex;
  width: 200px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#menu div:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

#menu li {
  margin-top: 15px;
}

/* ------- */

/* SEARCH BAR STYLING */

#form-recherche {
  display: flex;
}

#location-dot-container {
  width: 50px;
  height: 49px;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#location-dot {
  width: 14px;
  height: 18px;
  color: black;
}

#input-recherche {
  width: 147px;
  height: 46px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 21.13px;
  color: black;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-right: none;
  border-left: none;
}

#submit-button-text {
  width: 132px;
  height: 49px;
  padding: 15px 16px 15px 16px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #0065fc;
  background-color: #0065fc;
  gap: 10px;

  /* Text styling */
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.submit-button-icon,
#submit-button-icon {
  width: 49px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid #0065fc;
  gap: 10px;
  background-color: #0065fc;
}

.submit-button-icon {
  position: relative;
  display: none;
}

.submit-button-icon i {
  position: absolute;
  top: 16px; /*Calcul: (49-17)/2 = 16px */
  left: 16px;

  color: white;
  width: 17px;
  height: 17px;
}

#submit-button-text:hover,
.submit-button-icon:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* ------- */

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    min-width: 320px;
    padding: 0px;
  }

  header {
    flex-direction: column;
    align-items: center;
    height: 100px;
  }

  #menu {
    width: 100vw;
  }
  #menu div {
    width: 50%;
    border-bottom: 2px solid var(--main-bg-color);
    text-align: center;
  }

  #menu div:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  #menu li {
    margin-bottom: 10px;
  }

  /* SEARCH BAR STYLING */
  #submit-button-text {
    display: none;
  }

  .submit-button-icon {
    display: inline-block;
  }
  /* ------------------ */
}
